
<div *ngIf="this.gameState.stage === 1">
  <app-title-screen-app [localGameState]=gameState></app-title-screen-app>
</div>

<div *ngIf="this.gameState.stage === 2">
  <app-tavern-app [localGameState]=gameState></app-tavern-app>
</div>

<div *ngIf="this.gameState.stage === 3">
  <app-battle-screen [localGameState]=gameState></app-battle-screen>
</div>

<div *ngIf="this.gameState.stage === 4">
  <app-battle-screen-boss [localGameState]=gameState></app-battle-screen-boss>
</div>

<div *ngIf="this.gameState.stage === 5">
  <app-select-quest [localGameState]=gameState></app-select-quest>
</div>

<div *ngIf="this.gameState.stage === 6">
  <app-battle-screen-quest [localGameState]=gameState></app-battle-screen-quest>
</div>

<div *ngIf="this.gameState.stage === 7">
  <app-score-screen [localGameState]=gameState></app-score-screen>
</div>
